<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Explore the best Restaurant">
    <title>Foodrest | Restaurant</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/icons/dish.svg" alt="Web Icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500" rel="stylesheet" type="text/css">
</head>

<body>
    <a href="#main" class="skip-link">Menuju ke konten</a>
    <header>
        <div class="header-container">
            <div class="header-logo">
                <p>Foodrest</p>
            </div>
            <button id="hamburger" class="hamburger" aria-label="click to show navbar in mobile">☰</button>
            <nav id="drawer">
                <ul class="nav-list">
                    <li class="nav-item"><a href="#">Home</a></li>
                    <li class="nav-item"><a href="#">Favorite</a></li>
                    <li class="nav-item"><a href="https://github.com/Azquiorra" target="_blank">About Us</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="hero">
        <div class="hero-inner">
            <p class="hero-text">Welcome to</p>
            <h1 class="hero-title">Foodrest</h1>
            <p class="hero-tagline">Explore the best restaurants in various parts of Indonesia</p>
            <button type="submit" class="hero-button" href="#main">Explore</button>
        </div>
    </div>

    <section>
        <main id="main">
            <h1 class="center">Kenapa kamu harus memilih kami</h1>
            <div class="main-inner">
                <div class="main-icon">
                    <span class="material-icons">favorite</span>
                    <p>Simpan Restoran favoritmu agar mudah ditemukan</p>
                </div>
                <div class="main-icon">
                    <span class="material-icons">reviews</span>
                    <p>Cari tahu restoran terbaik dengan fitur rating dan review dari pengunjung</p>
                </div>
                <div class="main-icon">
                    <span class="material-icons">restaurant</span>
                    <p>Pilih restoran dengan menu yang cocok untuk kamu dan keluarga</p>
                </div>
            </div>
        </main>
    </section>

    <footer>Copyright © 2021 - Foodrest</footer>
</body>

</html>